<!doctype html>
<html lang="en">

<head>
    <title>MindHub HomeBanking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f60c92db8d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <div id="app">
        <div class="wrapper d-flex align-items-stretch">
            <div>
                <div class="open-menu" @click="isActive = !isActive">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <nav id="sidebar" :class="{show: isActive}">
                    <span class="closebtn" @click="isActive = !isActive">&times;</span>
                    <div class="p-4">
                        <h1><a href="index.html" class="logo">MindBank<span>{{client.firstName}}
                                    {{client.lastName}}</span></a></h1>
                        <ul class="list-unstyled components mb-5">
                            <li>
                                <a href="#"><span class="fa fa-home mr-3"></span>Inicio</a>
                            </li>
                            <li>
                                <a href="./accounts.html"><span class="fa fa-user mr-3"></span>Cuenta</a>
                            </li>
                            <li>
                                <a href="./cards.html"><span class="fa fa-credit-card mr-3"></span>Tarjetas</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-file-invoice-dollar mr-3"></span>Pagos</a>
                            </li>
                            <li>
                            <li>
                                <a href="#"><span class="fa fa-money-bill-trend-up mr-3"></span>Inversiones</a>
                            </li>
                            <li>
                                <a href="./transfers.html"><span
                                        class="fa fa-arrows-rotate mr-3"></span>Tranferencias</a>
                                <font-awesome-icon icon="fa-light fa-money-check-dollar" />
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-cogs mr-3"></span>Services</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-paper-plane mr-3"></span>Contacts</a>
                            </li>
                        </ul>

                        <div class="footer mb-5">
                            <button @click="logout" class="btn text-light"><i
                                    class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión</button>
                        </div>

                        <div class="mb-5">
                            <h3 class="h6 mb-3">Subscribe for newsletter</h3>
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <div class="icon"><span class="icon-paper-plane"></span></div>
                                    <input type="text" class="form-control" placeholder="Enter Email Address">
                                </div>
                            </form>
                        </div>

                    </div>
                </nav>

            </div>
            <!-- Page Content  -->
            <div class="flex-column w-100 container">
                <header class="p-2">
                    <div class="container">
                        <div class="row py-2">
                            <div class="col ext-center">
                                <div class="d-flex flex-column">
                                    <h2 class="fs-1">Tus Cuentas</h2>
                                    <template v-if="3 > accounts.length">
                                        <div class="m-2 w-25 text-center">
                                            <button  class="btn bg-primary rounded text-light "
                                                type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop">Create</button>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div>
                                            <h5 class="ms-3">Ya tienes el máximo de cuentas permitidas</5>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div>
                    <main class="container">
                        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">¿Qué tipo de cuenta desea
                                            crear?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-around">
                                       
                                        <input v-model ="accountType" type="radio" class="btn-check" name="account-type" id="success-outlined" autocomplete="off" value="CORRIENTE">
                                        <label class="btn btn-outline-primary" for="success-outlined">Cuenta Corriente</label>
                                        
                                        <input v-model ="accountType" type="radio" class="btn-check" name="account-type" id="danger-outlined" autocomplete="off" value="AHORRO">
                                        <label class="btn btn-outline-primary" for="danger-outlined">Caja de Ahorro</label>
       
                                   
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button @click="createAccount" type="button" data-bs-dismiss="modal"  class="btn btn-danger">Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-group">
                            <div class="card text-center ms-3 row" v-for="account in accounts">
                                <div class="cajaAhorro_icon bg-primary">
                                    <span v-if="account.type == 'AHORRO'">CA&#36</span>
                                    <span v-else>CC&#36</span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-muted">Saldo &#36{{account.balance}}</h5>
                                    <h6 class="card-subtitle mb-2 text-black-50">Cuenta Nro {{account.number}}</h6>
                                    <a :href="'/web/account.html?id='+account.id" class="card-link mx-4">Movimientos</a>
                                    <span @click="deleteAccount(account)" class="text-primary mx-4"
                                        style="cursor: pointer">Eliminar</span>
                                </div>
                            </div>
                        </div>
                </div>

                <!-- Loans / Prestamos -->
                <section class="mt-5 ms-4 w-50 loans">
                    <h2 class="fs-1">Prestamos</h2>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="flex-fill mb-0 card text-center p-4">
                            <h5 class="text-black-50 bd-bottom">Tenés disponible un préstamo preaprobado </h5>
                            <h6>¡Me interesa! <span @click="applyLoan" style="cursor:pointer"
                                    class="text-primary fs-5 fst-italic text-decoration-underline m-2">Apply</span></h6>
                        </div>
                    </div>
                    <div v-if="loans.length > 0">
                        <h3>Prestamos vigentes</h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col">Cuotas</th>
                                <th scope="col">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="loan in loans">
                                <th scope="row">{{loan.name}}</th>
                                <td>{{loan.payments}}</td>
                                <td>{{loan.amounts}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <h3 class="fst-italic">Sacá tu prestamo preaprobado y cumplí tus sueños!</h3>
                </div>
                </section>

                <div class="prestamosAndBanner">
                    <div class="banner mt-5 w-50" v-show="true">
                        <h2 class="mb-5">Todo desde casa</h2>
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="./img/home-banking-desde-la-comodidad.webp" class="d-block w-100"
                                        alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="./img/bank-customer.jpeg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="./img/happy-young-married-couple-sit-260nw-1606546729.webp"
                                        class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the third slide.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                </div>
                </main>
                <footer>

                </footer>
            </div>

        </div>
    </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/accounts.js"></script>
</body>

</html>